
<ion-content [fullscreen]="true">

  <div class="icon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
  <br>
  <br>
  <br>

  <ion-header collapse="condense">
    <ion-toolbar>
      <br>
      <br>
      <ion-title size="large">Connexion réussit !</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  
  <ion-card>
    <ion-card-content>
      <p>Maintenant cliquez sur le bouton choisir ci-dessous pour commencer à sectionner vos taches !</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-button fill="outline" shape="round" expand="block" routerLink="/principale">Choisir</ion-button>

</ion-content>
