<ion-content [fullscreen]="true">
  <h2>Sélectionnez vos tâches quotidiennes</h2>
  <h4>Choisissez parmi les options ci-dessous les tâches que vous souhaitez accomplir aujourd'hui :</h4>
  <ion-card>
    <ion-card-content>
      <!-- Ajoutez une tâche avec un icon -->
      <ion-item>
        <ion-icon slot="start" name="fitness-outline"></ion-icon>
        <ion-label>Faire du sport</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Ajoutez d'autres tâches de la même manière -->
      <ion-item>
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Lire un livre</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Ajoutez plus de tâches -->
      <ion-item>
        <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
        <ion-label>Écouter de la musique</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->
      <!-- Ajoutez plus de tâches -->
      <ion-item>
        <ion-icon slot="start" name="film-outline"></ion-icon>
        <ion-label>Regarder un film</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        <ion-label>Cuisiner un repas</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="broom-outline"></ion-icon>
        <ion-label>Nettoyer la maison</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        <ion-label>Faire du jardinage</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->
      <ion-item>
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Apprendre une nouvelle compétence</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        <ion-label>Prendre des photos</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        <ion-label>Méditer</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Ajoutez encore plus de tâches -->
      <ion-item>
        <ion-icon slot="start" name="create-outline"></ion-icon>
        <ion-label>Écrire dans un journal</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Faire du bénévolat</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="bulb-outline"></ion-icon>
        <ion-label>Réaliser une séance de brainstorming</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="bed-outline"></ion-icon>
        <ion-label>Faire une sieste</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="ticket-outline"></ion-icon>
        <ion-label>Assister à un événement culturel</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label>Pratiquer une langue étrangère</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <ion-label>Faire du shopping</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        <ion-label>Assister à un cours en ligne</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Organiser un événement</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="trail-sign-outline"></ion-icon>
        <ion-label>Faire du camping</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="bicycle-outline"></ion-icon>
        <ion-label>Faire du vélo</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="airplane-outline"></ion-icon>
        <ion-label>Planifier des vacances</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="body-outline"></ion-icon>
        <ion-label>Pratiquer le yoga</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="headset-outline"></ion-icon>
        <ion-label>Faire de la méditation guidée</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="brush-outline"></ion-icon>
        <ion-label>Peindre ou dessiner</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="people-circle-outline"></ion-icon>
        <ion-label>Faire du volontariat</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>Écrire une lettre ou un email à un ami</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="hammer-outline"></ion-icon>
        <ion-label>Faire du bricolage ou des réparations</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
        <ion-label>Faire un puzzle ou jouer à des jeux de société</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="musical-note-outline"></ion-icon>
        <ion-label>Apprendre à jouer d'un instrument de musique</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        <ion-label>Planifier et préparer un repas spécial</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->

      <ion-item>
        <ion-icon slot="start" name="hiking-outline"></ion-icon>
        <ion-label>Faire une randonnée</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-label>Faire du bénévolat pour une organisation caritative</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <!-- Continuez d'ajouter des tâches de cette façon -->
      <br>
      <ion-button fill="outline" shape="round" expand="block" routerLink="/validation">Valider</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
