<ion-content class="ion-padding">
  <!-- Section 1 -->
  <div class="section">
    <h2>Bienvenue sur votre application de gestionnaire de taches !</h2>
    <br>
    <p>Une application simple et intuitive pour organiser votre travail et augmenter votre productivité.</p>
  </div>

  <!-- Section 2 -->
  <div class="section">
    <h2>Allez Gooo !</h2>
    <p>Commencez par créer un compte en cliquant sur le bouton s'inscrire.</p>
    <br>
    <ion-button fill="outline" shape="round" expand="block" routerLink="/inscription">S'inscrire </ion-button>
  </div>

</ion-content>
