ion-content {
  --ion-background-color: #000000; /* Couleur de fond générale */

  ion-button {
    --background: #000000; /* Couleur de fond noire */
    --color: #ffffff; /* Couleur du texte blanche */
  }
  
  * {
    font-style: italic; /* Met tout le texte en italique */
  }

  .section {
    background-color: #f7af6c; /* Couleur de fond de la section */
    padding: 30px; /* Espace intérieur de la section */
    margin-bottom: 10px; /* Marge en bas de chaque section */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin-left: 0; /* Supprimer la marge à gauche */
    margin-right: 0; /* Supprimer la marge à droite */
  }

  .section:first-child {
    background-color: #000000; /* Couleur de fond de la première section */
    height: 470px; /* Hauteur de la première section */
    color: #ffffff; /* Couleur du texte pour la première section */
    text-align: center; /* Centre le texte */
    padding-top: 115px; /* Ajoute de l'espace en haut */
  }

  h2 {
    color: #2d2ac4; /* Couleur du titre */
    font-size: 1.5rem; /* Taille de police du titre */
    margin-bottom: 10px; /* Marge en bas du titre */
  }

  p {
    color: #ffffff; /* Couleur du texte */
    font-size: 1rem; /* Taille de police du texte */
    line-height: 1.5; /* Hauteur de ligne */
  }
}
